In [10]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np

In [3]:
obj = Series([1, 2, 3, 4, 5])
print(obj)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [9]:
obj = Series(range(4), index=list('adcb'))
print(obj)
print(obj.sort_index())
print(obj.sort_values())

a    0
d    1
c    2
b    3
dtype: int64
a    0
b    3
c    2
d    1
dtype: int64
a    0
d    1
c    2
b    3
dtype: int64

In [12]:
frame = DataFrame(np.arange(8).reshape(2, 4), index=['b', 'a'], columns=list('abcd'))
print(frame)

   a  b  c  d
b  0  1  2  3
a  4  5  6  7

In [16]:
print(frame.sort_index())
print(frame.sort_index(axis=1))

   a  b  c  d
a  4  5  6  7
b  0  1  2  3
   a  b  c  d
b  0  1  2  3
a  4  5  6  7

In [19]:
frame = DataFrame({'b': [4, 7, 2, -1], 'a': [0, 4, 2, 0]})
print(frame)

   b  a
0  4  0
1  7  4
2  2  2
3 -1  0

In [20]:
frame.sort_values(by='b')

   b  a
3 -1  0
2  2  2
0  4  0
1  7  4